

<div class="container">
    <h2>Find User</h2>
    <form name = 'userForm' ng-submit="submitForm(userForm.$valid)" novalidate>
        <div class="form-group" ng-class="{'has-error':userForm.firstName.$invalid && !userForm.firstName.$pristine}">
            <label>First Name</label>
            <input type = 'text' name = 'firstName' class='form-control' ng-model="user.firstName" required>
            <p ng-show = 'userForm.firstName.$invalid && !userForm.firstName.$pristine' class = 'help-block'>Your First Name is required</p>
        </div>
        <div class="form-group" ng-class = "{'has-error':userForm.lastName.$invalid && !userForm.lastName.$pristine}">
            <label>Last Name</label>
            <input type = 'text' name = 'lastName' class='form-control' ng-model="user.lastName" required>
            <p ng-show = 'userForm.lastName.$invalid && !userForm.lastName.$pristine' class = 'help-block'>Your last Name is required</p>
        </div>
        <button type = 'submit' class='btn btn-primary' ng-disabled="userForm.$invalid" >Submit</button>
    </form>
</div>
